<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.dao.CourseMapper">
	<resultMap type="com.school.pojo.Course" id="BaseResultMap">
		<id property="cno" column="cno" javaType="int" jdbcType="INTEGER"/>
		<result property="cname" column="cname" javaType="string" jdbcType="VARCHAR"/>
		<result property="detail" column="detail" javaType="string" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap type="com.school.pojo.Course" id="ClassResultMap" extends="BaseResultMap">
		<collection property="classes" ofType="com.school.pojo.Classes">
			<id property="id" column="id" javaType="int" jdbcType="INTEGER"/>
			<result property="classname" column="classname" javaType="string" jdbcType="VARCHAR"/>
		</collection>
	</resultMap>
	
	<select id="getCourseById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select c.cno,c.cname,c.detail from course c where c.cno=#{c.cno,jdbcType=INTEGER}
	</select>
	<select id="getCourses" resultMap="BaseResultMap">
 		select
 			cno,cname,detail
 		from
 			course 
	</select>
	<select id="getCoursesByKeyword" resultMap="BaseResultMap" parameterType="java.lang.String">
		select cno,cname,detail
		from course
		where cname like CONCAT('%',#{keyword},'%')
	</select>
	<insert id="addCourse" parameterType="com.school.pojo.Course">
		insert into course
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cname !=null">cname,</if>
			<if test="detail !=null">detail</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cname !=null">#{cname,jdbcType=VARCHAR},</if>
			<if test="detail !=null">#{detail,jdbcType=VARCHAR}</if>
		</trim>
	</insert>
	<delete id="deleteCourse" parameterType="java.lang.Integer">
		delete from course
		where cno=#{cno,jdbcType=INTEGER}
	</delete>
	<update id="updateCourse" parameterType="com.school.pojo.Course">
		update course
		<set>
			<if test="cname!=null">
				cname=#{cname,jdbcType=VARCHAR},
			</if>
			<if test="detail!=null">
				detail=#{detail,jdbcType=VARCHAR}
			</if>
		</set>
		where cno= #{cno,jdbcType=VARCHAR}
	</update>
</mapper>
